body {
    background-image: url(https://st2.depositphotos.com/7507618/12045/v/450/depositphotos_120454410-stock-illustration-pokeball-seamless-pattern.jpg);
}

.bg_opacity{
    background-color: rgba(255, 255, 255, 0.7);
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 200px;
    height: 200px;
    background-image: url('image.jpg');
    background-size: cover;
    animation: fadeInOut 7s infinite;
    opacity: 0;
    animation-delay: 3s;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    25% { opacity: 1; }
    50% { opacity: 1; }
    75% { opacity: 0; }
    100% { opacity: 0; }
}
